<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="LogFileName" value="D:\\Log\\LogFile.txt" />
        <add key="DataType" value="SQLServer" />
        <add key="SQLServerConnectionString" value="Data Source=192.168.2.105;Initial Catalog=TicketSaleSystem;User ID=sa;Password=sa123;Integrated Security=False" />
    </appSettings>
</configuration>