USE [master]
GO
/****** Object:  Database [TicketSaleSystem]    Script Date: 2014/11/2 12:28:57 ******/
CREATE DATABASE [TicketSaleSystem] ON  PRIMARY 
( NAME = N'TicketSaleSystem', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TicketSaleSystem.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TicketSaleSystem_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TicketSaleSystem_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicketSaleSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicketSaleSystem]
GO
/****** Object:  Table [dbo].[TSS_CERTIFICATE]    Script Date: 2014/11/2 12:28:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_CERTIFICATE](
	[CERT_NEWID] [int] IDENTITY(1,1) NOT NULL,
	[CERT_ID] [nvarchar](30) NOT NULL,
	[CERT_NAME] [nvarchar](50) NULL,
	[CERT_GROUP_NAME] [nvarchar](200) NULL,
	[CERT_TYPE_ID] [nvarchar](6) NOT NULL,
	[IS_DEL] [nchar](10) NOT NULL,
 CONSTRAINT [PK_TSS_CERTIFICATE] PRIMARY KEY CLUSTERED 
(
	[CERT_NEWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_DICTIONARY]    Script Date: 2014/11/2 12:28:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_DICTIONARY](
	[DICT_ID] [nvarchar](10) NOT NULL,
	[DICT_NAME] [nvarchar](30) NOT NULL,
	[DICT_TYPE] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TSS_DICTIONARY] PRIMARY KEY CLUSTERED 
(
	[DICT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_FINANCIAL_IN]    Script Date: 2014/11/2 12:28:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_FINANCIAL_IN](
	[FIN_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIN_SUPPLY_ID] [nvarchar](4) NOT NULL,
	[FIN_TICKET_START] [nvarchar](10) NOT NULL,
	[FIN_TICKET_COUNT] [int] NOT NULL,
	[FIN_ TICKET_END] [nvarchar](10) NOT NULL,
	[FIN_TICKET_ITEM_ID] [nvarchar](10) NOT NULL,
	[FIN_OPERATE_ID] [nvarchar](4) NOT NULL,
	[FIN_OPERATE_DATETIME] [datetime] NOT NULL,
	[FIN_TYPE] [nchar](1) NOT NULL,
 CONSTRAINT [PK_TSS_FINANCIAL_IN] PRIMARY KEY CLUSTERED 
(
	[FIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_FINANCIAL_OUT]    Script Date: 2014/11/2 12:28:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_FINANCIAL_OUT](
	[FOUT_ID] [int] IDENTITY(1,1) NOT NULL,
	[FOUT_LEADBACK_ID] [nvarchar](4) NOT NULL,
	[FOUT_TICKET_START] [nvarchar](10) NOT NULL,
	[FOUT_TICKET_COUNT] [int] NOT NULL,
	[FOUT_TICKET_END] [nvarchar](10) NOT NULL,
	[FOUT_OPERATE_ID] [nvarchar](4) NOT NULL,
	[FOUT_OPERATE_DATETIME] [datetime] NOT NULL,
	[FOUT_TYPE] [nchar](1) NOT NULL,
 CONSTRAINT [PK_TSS_FINANCIAL_OUT] PRIMARY KEY CLUSTERED 
(
	[FOUT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_SALE]    Script Date: 2014/11/2 12:28:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_SALE](
	[SALE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SALE_TRADE_ID] [nvarchar](14) NOT NULL,
	[SALE_TICKET_ID] [nvarchar](10) NOT NULL,
	[SALE_TICKET_COUNT] [int] NOT NULL,
	[SALE_PEOPLE_COUNT] [int] NOT NULL,
	[SALE_TICKET_ITEM_ID] [nvarchar](6) NOT NULL,
	[SALE_ TICKET_START] [nvarchar](10) NOT NULL,
	[SALE_ TICKET_END] [nvarchar](10) NOT NULL,
	[SALE_CERT_ID] [nvarchar](6) NULL,
	[SALE_CERT_NO] [nvarchar](30) NULL,
	[SALE_ORIGIN_ID] [nvarchar](6) NULL,
	[SALE_SUM_PRICE] [numeric](18, 2) NOT NULL,
	[SALE_REAL_RECEIPT] [numeric](18, 2) NOT NULL,
	[SALE_CHANGE] [numeric](18, 2) NOT NULL,
	[SALE_OPERATE_ID] [nvarchar](4) NOT NULL,
	[SALE_OPERATE_DATE] [datetime] NOT NULL,
	[SALE_UPDATE_ID] [nvarchar](4) NOT NULL,
	[SALE_ UPDATE _DATE] [datetime] NOT NULL,
	[IS_DEL] [nchar](1) NOT NULL,
 CONSTRAINT [PK_TSS_SALE] PRIMARY KEY CLUSTERED 
(
	[SALE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_TICKET]    Script Date: 2014/11/2 12:28:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_TICKET](
	[TICKET_GUID] [nvarchar](36) NOT NULL,
	[TICKET_ID] [nvarchar](10) NOT NULL,
	[TICKET_ITEM_ID] [nvarchar](10) NOT NULL,
	[TICKET_FIN_USER_ID] [nvarchar](4) NOT NULL,
	[TICKET_FIN_DATE] [datetime] NOT NULL,
	[TICKET_OUT_USER_ID] [nvarchar](4) NULL,
	[TICKET_OUT_DATE] [datetime] NULL,
	[IS_FOUT] [nchar](1) NOT NULL,
	[IS_READY_SALE] [nchar](1) NOT NULL,
	[IS_SALE] [nchar](1) NOT NULL,
	[IS_REFUND] [nchar](1) NOT NULL,
	[IS_CHECKIN] [nchar](1) NOT NULL,
	[VALIDITY_START_DATE] [datetime] NOT NULL,
	[VALIDITY_END_DATE] [datetime] NOT NULL,
	[IS_PREBOOKING] [nchar](10) NOT NULL,
	[IS_DEL] [nchar](1) NOT NULL,
 CONSTRAINT [PK_TSS_TICKET] PRIMARY KEY CLUSTERED 
(
	[TICKET_GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_TICKET_ITEM]    Script Date: 2014/11/2 12:28:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_TICKET_ITEM](
	[ITEM_NEWID] [int] NOT NULL,
	[ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[ITEM_NAME] [nvarchar](30) NOT NULL,
	[ITEM_TYPE_ID] [nvarchar](6) NOT NULL,
	[ITEM_SCOPE_ID] [nvarchar](6) NOT NULL,
	[ITEM_APPLY_USER_ID] [nvarchar](6) NOT NULL,
	[IS_GUIDE] [int] NOT NULL,
	[ANTICIPATED_PRICE] [numeric](18, 2) NOT NULL,
	[REAL_PRICE] [numeric](18, 2) NOT NULL,
	[ITEM_VOICE_ID] [nvarchar](6) NOT NULL,
	[ITEM_SALEWAY_ID] [nvarchar](6) NOT NULL,
	[ITEM_FAVORABLE_ID] [nvarchar](6) NOT NULL,
	[VALIDITY_DATE] [datetime] NULL,
	[ITEM_POSTAGE] [numeric](18, 2) NULL,
	[IS_DEL] [nchar](1) NOT NULL,
 CONSTRAINT [PK_TSS_TICKET_ITEM] PRIMARY KEY CLUSTERED 
(
	[ITEM_NEWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_TICKET_OUT]    Script Date: 2014/11/2 12:28:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_TICKET_OUT](
	[TOUT_ID] [int] IDENTITY(1,1) NOT NULL,
	[TOUT_ LEADBACK_ID] [nvarchar](4) NOT NULL,
	[TOUT_TICKET_START] [nvarchar](10) NOT NULL,
	[TOUT_TICKET_COUNT] [int] NOT NULL,
	[TOUT_TICKET_END] [nvarchar](10) NOT NULL,
	[TOUT_OPERATE_ID] [nvarchar](4) NOT NULL,
	[TOUT_OPERATE_DATE] [datetime] NOT NULL,
	[TOUT_TYPE] [nchar](1) NOT NULL,
 CONSTRAINT [PK_TSS_TICKET_OUT] PRIMARY KEY CLUSTERED 
(
	[TOUT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_USER]    Script Date: 2014/11/2 12:28:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_USER](
	[USER_ID] [nvarchar](4) NOT NULL,
	[USER_NAME] [nvarchar](10) NOT NULL,
	[PASSWORD] [nvarchar](6) NOT NULL,
	[DEPART_ID] [nvarchar](6) NOT NULL,
	[ROLE_ID] [nvarchar](6) NOT NULL,
	[CELLPHONE] [nvarchar](15) NULL,
	[TELEPHONE] [nvarchar](15) NULL,
	[EMAIL] [nvarchar](40) NULL,
	[REMARK] [nvarchar](200) NULL,
	[IS_DEL] [nchar](1) NOT NULL,
 CONSTRAINT [PK_TSS_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_USER_ROLE]    Script Date: 2014/11/2 12:28:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_USER_ROLE](
	[ROLE_ID] [nvarchar](6) NOT NULL,
	[ROLE_NAME] [nvarchar](20) NOT NULL,
	[MODULES] [nvarchar](10) NULL,
	[IS_DEL] [nchar](1) NOT NULL,
 CONSTRAINT [PK_TSS_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
