USE [master]
GO
/****** Object:  Database [TicketSaleSystem]    Script Date: 2015/1/3 23:34:33 ******/
CREATE DATABASE [TicketSaleSystem] ON  PRIMARY 
( NAME = N'TicketSaleSystem', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TicketSaleSystem.mdf' , SIZE = 28672KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TicketSaleSystem_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TicketSaleSystem_log.ldf' , SIZE = 35712KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicketSaleSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicketSaleSystem]
GO
/****** Object:  StoredProcedure [dbo].[spGenInsertSQL]    Script Date: 2015/1/3 23:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE   proc [dbo].[spGenInsertSQL] (@tablename varchar(256))   
  
as  
  
begin  
  
declare @sql varchar(8000)   
  
declare @sqlValues varchar(8000)   
  
set @sql =' ('  
  
set @sqlValues = 'values (''+'  
  
select @sqlValues = @sqlValues + cols + ' + '','' + ' ,@sql = @sql + '[' + name + '],'    
  
  from    
  
      (select case    
  
                when xtype in (48,52,56,59,60,62,104,106,108,122,127)                                   
  
                     then 'case when '+ name +' is null then ''NULL'' else ' + 'cast('+ name + ' as varchar)'+' end'  
  
                when xtype in (58,61)   
  
                     then 'case when '+ name +' is null then ''NULL'' else '+''''''''' + ' + 'cast('+ name +' as varchar)'+ '+'''''''''+' end'  
  
               when xtype in (167)   
  
                     then 'case when '+ name +' is null then ''NULL'' else '+''''''''' + ' + 'replace('+ name+','''''''','''''''''''')' + '+'''''''''+' end'  
  
                when xtype in (231)   
  
                     then 'case when '+ name +' is null then ''NULL'' else '+'''N'''''' + ' + 'replace('+ name+','''''''','''''''''''')' + '+'''''''''+' end'  
  
                when xtype in (175)   
  
                     then 'case when '+ name +' is null then ''NULL'' else '+''''''''' + ' + 'cast(replace('+ name+','''''''','''''''''''') as Char(' + cast(length as varchar)  + '))+'''''''''+' end'  
  
                when xtype in (239)   
  
                     then 'case when '+ name +' is null then ''NULL'' else '+'''N'''''' + ' + 'cast(replace('+ name+','''''''','''''''''''') as Char(' + cast(length as varchar)  + '))+'''''''''+' end'  
  
                else '''NULL'''  
  
              end as Cols,name  
  
         from syscolumns     
  
        where id = object_id(@tablename)    
  
      ) T    
  
set @sql ='select ''INSERT INTO ['+ @tablename + ']' + left(@sql,len(@sql)-1)+') ' + left(@sqlValues,len(@sqlValues)-4) + ')'' from '+@tablename   
  
print @sql   
  
exec (@sql)   
  
end  

GO
/****** Object:  Table [dbo].[TSS_CERTIFICATE]    Script Date: 2015/1/3 23:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_CERTIFICATE](
	[CERT_NEWID] [int] IDENTITY(1,1) NOT NULL,
	[CERT_ID] [nvarchar](30) NOT NULL,
	[CERT_NAME] [nvarchar](50) NULL,
	[CERT_GROUP_NAME] [nvarchar](200) NULL,
	[CERT_TYPE_ID] [nvarchar](6) NOT NULL,
	[IS_DEL] [nchar](10) NOT NULL,
 CONSTRAINT [PK_TSS_CERTIFICATE] PRIMARY KEY CLUSTERED 
(
	[CERT_NEWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_DICTIONARY]    Script Date: 2015/1/3 23:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_DICTIONARY](
	[DICT_ID] [nvarchar](10) NOT NULL,
	[DICT_NAME] [nvarchar](30) NOT NULL,
	[DICT_TYPE] [nvarchar](20) NOT NULL,
	[DICT_PID] [nvarchar](10) NULL,
 CONSTRAINT [PK_TSS_DICTIONARY] PRIMARY KEY CLUSTERED 
(
	[DICT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_FINANCIAL_IN]    Script Date: 2015/1/3 23:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_FINANCIAL_IN](
	[FIN_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIN_SUPPLY_ID] [nvarchar](4) NOT NULL,
	[FIN_TICKET_START] [nvarchar](10) NOT NULL,
	[FIN_TICKET_COUNT] [int] NOT NULL,
	[FIN_TICKET_END] [nvarchar](10) NOT NULL,
	[FIN_TICKET_ITEM_ID] [nvarchar](10) NOT NULL,
	[FIN_OPERATE_ID] [nvarchar](4) NOT NULL,
	[FIN_OPERATE_DATE] [datetime] NOT NULL,
	[FIN_TYPE] [nchar](1) NOT NULL,
 CONSTRAINT [PK_TSS_FINANCIAL_IN] PRIMARY KEY CLUSTERED 
(
	[FIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_FINANCIAL_OUT]    Script Date: 2015/1/3 23:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_FINANCIAL_OUT](
	[FOUT_ID] [int] IDENTITY(1,1) NOT NULL,
	[FOUT_LEADBACK_ID] [nvarchar](4) NOT NULL,
	[FOUT_TICKET_START] [nvarchar](10) NOT NULL,
	[FOUT_TICKET_COUNT] [int] NOT NULL,
	[FOUT_TICKET_END] [nvarchar](10) NOT NULL,
	[FOUT_OPERATE_ID] [nvarchar](4) NOT NULL,
	[FOUT_OPERATE_DATE] [datetime] NOT NULL,
	[FOUT_TYPE] [nchar](1) NOT NULL,
 CONSTRAINT [PK_TSS_FINANCIAL_OUT] PRIMARY KEY CLUSTERED 
(
	[FOUT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_SALE]    Script Date: 2015/1/3 23:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_SALE](
	[SALE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SALE_TRADE_ID] [nvarchar](14) NOT NULL,
	[SALE_TICKET_ID] [nvarchar](10) NOT NULL,
	[SALE_TICKET_COUNT] [int] NOT NULL,
	[SALE_PEOPLE_COUNT] [int] NOT NULL,
	[SALE_TICKET_ITEM_ID] [nvarchar](6) NOT NULL,
	[SALE_ TICKET_START] [nvarchar](10) NOT NULL,
	[SALE_ TICKET_END] [nvarchar](10) NOT NULL,
	[SALE_CERT_ID] [nvarchar](6) NULL,
	[SALE_CERT_NO] [nvarchar](30) NULL,
	[SALE_ORIGIN_ID] [nvarchar](6) NULL,
	[SALE_SUM_PRICE] [numeric](18, 2) NOT NULL,
	[SALE_REAL_RECEIPT] [numeric](18, 2) NOT NULL,
	[SALE_CHANGE] [numeric](18, 2) NOT NULL,
	[SALE_OPERATE_ID] [nvarchar](4) NOT NULL,
	[SALE_OPERATE_DATE] [datetime] NOT NULL,
	[SALE_UPDATE_ID] [nvarchar](4) NOT NULL,
	[SALE_ UPDATE _DATE] [datetime] NOT NULL,
	[IS_DEL] [nchar](1) NOT NULL,
 CONSTRAINT [PK_TSS_SALE] PRIMARY KEY CLUSTERED 
(
	[SALE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_TICKET]    Script Date: 2015/1/3 23:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_TICKET](
	[TICKET_GUID] [int] IDENTITY(1,1) NOT NULL,
	[TICKET_ID] [nvarchar](10) NOT NULL,
	[TICKET_ITEM_ID] [nvarchar](10) NOT NULL,
	[TICKET_FIN_USER_ID] [nvarchar](4) NOT NULL,
	[TICKET_FIN_DATE] [datetime] NOT NULL,
	[TICKET_FOUT_USER_ID] [nvarchar](4) NULL,
	[TICKET_FOUT_DATE] [datetime] NULL,
	[TICKET_TOUT_USER_ID] [nvarchar](4) NULL,
	[TICKET_TOUT_DATE] [datetime] NULL,
	[IS_FOUT] [nchar](1) NOT NULL,
	[IS_READY_SALE] [nchar](1) NOT NULL,
	[IS_SALE] [nchar](1) NOT NULL,
	[IS_REFUND] [nchar](1) NOT NULL,
	[IS_CHECKIN] [nchar](1) NOT NULL,
	[VALIDITY_START_DATE] [datetime] NOT NULL,
	[VALIDITY_END_DATE] [datetime] NOT NULL,
	[IS_PREBOOKING] [nchar](10) NOT NULL,
	[IS_DEL] [nchar](1) NOT NULL,
 CONSTRAINT [PK_TSS_TICKET] PRIMARY KEY CLUSTERED 
(
	[TICKET_GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_TICKET_ITEM]    Script Date: 2015/1/3 23:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_TICKET_ITEM](
	[ITEM_NEWID] [int] IDENTITY(1,1) NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[ITEM_NAME] [nvarchar](30) NOT NULL,
	[ITEM_TYPE_ID] [nvarchar](6) NOT NULL,
	[ITEM_SCOPE_ID] [nvarchar](6) NOT NULL,
	[ITEM_APPLY_USER_ID] [nvarchar](6) NOT NULL,
	[IS_GUIDE] [int] NOT NULL,
	[ANTICIPATED_PRICE] [numeric](18, 2) NOT NULL,
	[REAL_PRICE] [numeric](18, 2) NOT NULL,
	[ITEM_VOICE_ID] [nvarchar](6) NOT NULL,
	[ITEM_SALEWAY_ID] [nvarchar](6) NOT NULL,
	[ITEM_FAVORABLE_ID] [nvarchar](6) NOT NULL,
	[VALIDITY_DATE] [datetime] NULL,
	[ITEM_POSTAGE] [numeric](18, 2) NULL,
	[IS_DEL] [nchar](1) NOT NULL,
 CONSTRAINT [PK_TSS_TICKET_ITEM] PRIMARY KEY CLUSTERED 
(
	[ITEM_NEWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_TICKET_OUT]    Script Date: 2015/1/3 23:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_TICKET_OUT](
	[TOUT_ID] [int] IDENTITY(1,1) NOT NULL,
	[TOUT_LEADBACK_ID] [nvarchar](4) NOT NULL,
	[TOUT_TICKET_START] [nvarchar](10) NOT NULL,
	[TOUT_TICKET_COUNT] [int] NOT NULL,
	[TOUT_TICKET_END] [nvarchar](10) NOT NULL,
	[TOUT_OPERATE_ID] [nvarchar](4) NOT NULL,
	[TOUT_OPERATE_DATE] [datetime] NOT NULL,
	[TOUT_TYPE] [nchar](1) NOT NULL,
 CONSTRAINT [PK_TSS_TICKET_OUT] PRIMARY KEY CLUSTERED 
(
	[TOUT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_USER]    Script Date: 2015/1/3 23:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_USER](
	[USER_ID] [nvarchar](4) NOT NULL,
	[USER_NAME] [nvarchar](10) NOT NULL,
	[PASSWORD] [nvarchar](6) NOT NULL,
	[DEPART_ID] [nvarchar](6) NOT NULL,
	[ROLE_ID] [nvarchar](6) NOT NULL,
	[CELLPHONE] [nvarchar](15) NULL,
	[TELEPHONE] [nvarchar](15) NULL,
	[EMAIL] [nvarchar](40) NULL,
	[REMARK] [nvarchar](200) NULL,
	[IS_DEL] [nchar](1) NOT NULL,
 CONSTRAINT [PK_TSS_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TSS_USER_ROLE]    Script Date: 2015/1/3 23:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSS_USER_ROLE](
	[ROLE_ID] [nvarchar](6) NOT NULL,
	[ROLE_NAME] [nvarchar](20) NOT NULL,
	[MODULES] [nvarchar](1000) NULL,
	[IS_DEL] [nchar](1) NOT NULL,
 CONSTRAINT [PK_TSS_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[TSS_DICTIONARY] ([DICT_ID], [DICT_NAME], [DICT_TYPE], [DICT_PID]) VALUES (N'M0100', N'系统操作', N'Modules', N'M0000')
INSERT [dbo].[TSS_DICTIONARY] ([DICT_ID], [DICT_NAME], [DICT_TYPE], [DICT_PID]) VALUES (N'M0101', N'登录', N'Modules', N'M0100')
INSERT [dbo].[TSS_DICTIONARY] ([DICT_ID], [DICT_NAME], [DICT_TYPE], [DICT_PID]) VALUES (N'M0102', N'注销', N'Modules', N'M0100')
SET IDENTITY_INSERT [dbo].[TSS_FINANCIAL_IN] ON 

INSERT [dbo].[TSS_FINANCIAL_IN] ([FIN_ID], [FIN_SUPPLY_ID], [FIN_TICKET_START], [FIN_TICKET_COUNT], [FIN_TICKET_END], [FIN_TICKET_ITEM_ID], [FIN_OPERATE_ID], [FIN_OPERATE_DATE], [FIN_TYPE]) VALUES (1, N'9997', N'JA00000001', 50, N'JA00000050', N'2', N'0001', CAST(0x0000A415018080D0 AS DateTime), N'0')
INSERT [dbo].[TSS_FINANCIAL_IN] ([FIN_ID], [FIN_SUPPLY_ID], [FIN_TICKET_START], [FIN_TICKET_COUNT], [FIN_TICKET_END], [FIN_TICKET_ITEM_ID], [FIN_OPERATE_ID], [FIN_OPERATE_DATE], [FIN_TYPE]) VALUES (2, N'9997', N'JA00000001', 20, N'JA00000020', N'2', N'0001', CAST(0x0000A41501809264 AS DateTime), N'1')
INSERT [dbo].[TSS_FINANCIAL_IN] ([FIN_ID], [FIN_SUPPLY_ID], [FIN_TICKET_START], [FIN_TICKET_COUNT], [FIN_TICKET_END], [FIN_TICKET_ITEM_ID], [FIN_OPERATE_ID], [FIN_OPERATE_DATE], [FIN_TYPE]) VALUES (3, N'9997', N'JA00000001', 20, N'JA00000020', N'1', N'0001', CAST(0x0000A41501809CF0 AS DateTime), N'0')
SET IDENTITY_INSERT [dbo].[TSS_FINANCIAL_IN] OFF
SET IDENTITY_INSERT [dbo].[TSS_FINANCIAL_OUT] ON 

INSERT [dbo].[TSS_FINANCIAL_OUT] ([FOUT_ID], [FOUT_LEADBACK_ID], [FOUT_TICKET_START], [FOUT_TICKET_COUNT], [FOUT_TICKET_END], [FOUT_OPERATE_ID], [FOUT_OPERATE_DATE], [FOUT_TYPE]) VALUES (1, N'0003', N'JA00000001', 20, N'JA00000020', N'0001', CAST(0x0000A41501813FD4 AS DateTime), N'0')
INSERT [dbo].[TSS_FINANCIAL_OUT] ([FOUT_ID], [FOUT_LEADBACK_ID], [FOUT_TICKET_START], [FOUT_TICKET_COUNT], [FOUT_TICKET_END], [FOUT_OPERATE_ID], [FOUT_OPERATE_DATE], [FOUT_TYPE]) VALUES (2, N'0004', N'JA00000021', 30, N'JA00000050', N'0001', CAST(0x0000A41501816428 AS DateTime), N'0')
INSERT [dbo].[TSS_FINANCIAL_OUT] ([FOUT_ID], [FOUT_LEADBACK_ID], [FOUT_TICKET_START], [FOUT_TICKET_COUNT], [FOUT_TICKET_END], [FOUT_OPERATE_ID], [FOUT_OPERATE_DATE], [FOUT_TYPE]) VALUES (3, N'0004', N'JA00000021', 20, N'JA00000040', N'0001', CAST(0x0000A415018176E8 AS DateTime), N'1')
SET IDENTITY_INSERT [dbo].[TSS_FINANCIAL_OUT] OFF
SET IDENTITY_INSERT [dbo].[TSS_TICKET] ON 

INSERT [dbo].[TSS_TICKET] ([TICKET_GUID], [TICKET_ID], [TICKET_ITEM_ID], [TICKET_FIN_USER_ID], [TICKET_FIN_DATE], [TICKET_FOUT_USER_ID], [TICKET_FOUT_DATE], [TICKET_TOUT_USER_ID], [TICKET_TOUT_DATE], [IS_FOUT], [IS_READY_SALE], [IS_SALE], [IS_REFUND], [IS_CHECKIN], [VALIDITY_START_DATE], [VALIDITY_END_DATE], [IS_PREBOOKING], [IS_DEL]) VALUES (1, N'JA00000001', N'2', N'0001', CAST(0x0000A41501808160 AS DateTime), NULL, NULL, NULL, NULL, N'0', N'0', N'0', N'0', N'0', CAST(0x0000A41501808160 AS DateTime), CAST(0x0000A58201808160 AS DateTime), N'0         ', N'1')
INSERT [dbo].[TSS_TICKET] ([TICKET_GUID], [TICKET_ID], [TICKET_ITEM_ID], [TICKET_FIN_USER_ID], [TICKET_FIN_DATE], [TICKET_FOUT_USER_ID], [TICKET_FOUT_DATE], [TICKET_TOUT_USER_ID], [TICKET_TOUT_DATE], [IS_FOUT], [IS_READY_SALE], [IS_SALE], [IS_REFUND], [IS_CHECKIN], [VALIDITY_START_DATE], [VALIDITY_END_DATE], [IS_PREBOOKING], [IS_DEL]) VALUES (2, N'JA00000002', N'2', N'0001', CAST(0x0000A41501808160 AS DateTime), NULL, NULL, NULL, NULL, N'0', N'0', N'0', N'0', N'0', CAST(0x0000A41501808160 AS DateTime), CAST(0x0000A58201808160 AS DateTime), N'0         ', N'1')
INSERT [dbo].[TSS_TICKET] ([TICKET_GUID], [TICKET_ID], [TICKET_ITEM_ID], [TICKET_FIN_USER_ID], [TICKET_FIN_DATE], [TICKET_FOUT_USER_ID], [TICKET_FOUT_DATE], [TICKET_TOUT_USER_ID], [TICKET_TOUT_DATE], [IS_FOUT], [IS_READY_SALE], [IS_SALE], [IS_REFUND], [IS_CHECKIN], [VALIDITY_START_DATE], [VALIDITY_END_DATE], [IS_PREBOOKING], [IS_DEL]) VALUES (3, N'JA00000003', N'2', N'0001', CAST(0x0000A41501808160 AS DateTime), NULL, NULL, NULL, NULL, N'0', N'0', N'0', N'0', N'0', CAST(0x0000A41501808160 AS DateTime), CAST(0x0000A58201808160 AS DateTime), N'0         ', N'1')
SET IDENTITY_INSERT [dbo].[TSS_TICKET] OFF
SET IDENTITY_INSERT [dbo].[TSS_TICKET_ITEM] ON 

INSERT [dbo].[TSS_TICKET_ITEM] ([ITEM_NEWID], [ITEM_ID], [ITEM_NAME], [ITEM_TYPE_ID], [ITEM_SCOPE_ID], [ITEM_APPLY_USER_ID], [IS_GUIDE], [ANTICIPATED_PRICE], [REAL_PRICE], [ITEM_VOICE_ID], [ITEM_SALEWAY_ID], [ITEM_FAVORABLE_ID], [VALIDITY_DATE], [ITEM_POSTAGE], [IS_DEL]) VALUES (1, 1, N'成人票', N'T00001', N'S00001', N'A00001', 0, CAST(100.00 AS Numeric(18, 2)), CAST(100.00 AS Numeric(18, 2)), N'V00001', N'SW0001', N'F00001', NULL, NULL, N'0')
INSERT [dbo].[TSS_TICKET_ITEM] ([ITEM_NEWID], [ITEM_ID], [ITEM_NAME], [ITEM_TYPE_ID], [ITEM_SCOPE_ID], [ITEM_APPLY_USER_ID], [IS_GUIDE], [ANTICIPATED_PRICE], [REAL_PRICE], [ITEM_VOICE_ID], [ITEM_SALEWAY_ID], [ITEM_FAVORABLE_ID], [VALIDITY_DATE], [ITEM_POSTAGE], [IS_DEL]) VALUES (2, 2, N'成人团体票', N'T00002', N'S00002', N'A00002', 0, CAST(80.00 AS Numeric(18, 2)), CAST(80.00 AS Numeric(18, 2)), N'V00002', N'SW0002', N'F00002', NULL, NULL, N'0')
INSERT [dbo].[TSS_TICKET_ITEM] ([ITEM_NEWID], [ITEM_ID], [ITEM_NAME], [ITEM_TYPE_ID], [ITEM_SCOPE_ID], [ITEM_APPLY_USER_ID], [IS_GUIDE], [ANTICIPATED_PRICE], [REAL_PRICE], [ITEM_VOICE_ID], [ITEM_SALEWAY_ID], [ITEM_FAVORABLE_ID], [VALIDITY_DATE], [ITEM_POSTAGE], [IS_DEL]) VALUES (3, 3, N'学生票', N'T00003', N'S00003', N'A00003', 0, CAST(50.00 AS Numeric(18, 2)), CAST(50.00 AS Numeric(18, 2)), N'V00003', N'SW0003', N'F00003', NULL, NULL, N'0')
SET IDENTITY_INSERT [dbo].[TSS_TICKET_ITEM] OFF
SET IDENTITY_INSERT [dbo].[TSS_TICKET_OUT] ON 

INSERT [dbo].[TSS_TICKET_OUT] ([TOUT_ID], [TOUT_LEADBACK_ID], [TOUT_TICKET_START], [TOUT_TICKET_COUNT], [TOUT_TICKET_END], [TOUT_OPERATE_ID], [TOUT_OPERATE_DATE], [TOUT_TYPE]) VALUES (1, N'0005', N'JA00000001', 10, N'JA00000010', N'0003', CAST(0x0000A4150181AA78 AS DateTime), N'0')
INSERT [dbo].[TSS_TICKET_OUT] ([TOUT_ID], [TOUT_LEADBACK_ID], [TOUT_TICKET_START], [TOUT_TICKET_COUNT], [TOUT_TICKET_END], [TOUT_OPERATE_ID], [TOUT_OPERATE_DATE], [TOUT_TYPE]) VALUES (2, N'0006', N'JA00000011', 10, N'JA00000020', N'0003', CAST(0x0000A4150181C440 AS DateTime), N'0')
INSERT [dbo].[TSS_TICKET_OUT] ([TOUT_ID], [TOUT_LEADBACK_ID], [TOUT_TICKET_START], [TOUT_TICKET_COUNT], [TOUT_TICKET_END], [TOUT_OPERATE_ID], [TOUT_OPERATE_DATE], [TOUT_TYPE]) VALUES (3, N'0006', N'JA00000011', 10, N'JA00000020', N'0003', CAST(0x0000A41501827660 AS DateTime), N'1')
SET IDENTITY_INSERT [dbo].[TSS_TICKET_OUT] OFF
INSERT [dbo].[TSS_USER] ([USER_ID], [USER_NAME], [PASSWORD], [DEPART_ID], [ROLE_ID], [CELLPHONE], [TELEPHONE], [EMAIL], [REMARK], [IS_DEL]) VALUES (N'0000', N'管理员', N'admin', N'', N'R00001', N'123456789', N'123456789', N'snow_drift@163.com', NULL, N'0')
INSERT [dbo].[TSS_USER] ([USER_ID], [USER_NAME], [PASSWORD], [DEPART_ID], [ROLE_ID], [CELLPHONE], [TELEPHONE], [EMAIL], [REMARK], [IS_DEL]) VALUES (N'0001', N'计财部A', N'111111', N'D00001', N'R00002', N'123456', NULL, NULL, NULL, N'0')
INSERT [dbo].[TSS_USER] ([USER_ID], [USER_NAME], [PASSWORD], [DEPART_ID], [ROLE_ID], [CELLPHONE], [TELEPHONE], [EMAIL], [REMARK], [IS_DEL]) VALUES (N'0002', N'计财部B', N'111111', N'D00001', N'R00002', N'654321', NULL, NULL, NULL, N'0')
INSERT [dbo].[TSS_USER_ROLE] ([ROLE_ID], [ROLE_NAME], [MODULES], [IS_DEL]) VALUES (N'R00001', N'管理员', N'M0100;M0101;M0102;M0103;M0200;M0201;M0202;M0203;M0204;M0205;M0206;M0207;M0208;M0209;M0210;M0211;M0212;M0300;M0301;M0302;M0303;M0304;M0305;M0306;M0307;M0308;M0309;M0310;M0311;M0312;M0400;M0401;M0402;M0403;M0404;M0405;M0406;M0500;M0501;M0502', N'0')
INSERT [dbo].[TSS_USER_ROLE] ([ROLE_ID], [ROLE_NAME], [MODULES], [IS_DEL]) VALUES (N'R00002', N'计财部', N'M0100;M0101;M0102;M0103;M0200;M0201;M0202;M0203;M0204;M0205;M0206;M0207;M0208;M0209;M0210;M0211;M0212;M0300;M0301;M0302;M0303;M0304;M0305;M0306;M0307;M0308;M0309;M0310;M0311;M0312;M0400;M0401;M0402;M0403;M0404;M0405;M0406;M0500;M0501;M0502', N'0')
INSERT [dbo].[TSS_USER_ROLE] ([ROLE_ID], [ROLE_NAME], [MODULES], [IS_DEL]) VALUES (N'R00003', N'售票室管理员', N'M0100;M0101;M0102;M0103;M0200;M0201;M0202;M0203;M0204;M0205;M0206;M0207;M0208;M0209;M0210;M0211;M0212;M0300;M0301;M0302;M0303;M0304;M0305;M0306;M0307;M0308;M0309;M0310;M0311;M0312;M0400;M0401;M0402;M0403;M0404;M0405;M0406;M0500;M0501;M0502', N'0')
USE [master]
GO
